
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 50px;
}

.imagem {
    width: 150px; /* Tamanho da imagem */
    height: auto; /* Altura automática para manter a proporção */
    border-radius: 8px; /* Bordas arredondadas */
    margin-right: 20px; /* Espaço entre a imagem e o texto */
}


.texto-container {
    text-align: center; /* Centraliza o texto dentro do container */
    flex-grow: 1; /* Faz o container de texto crescer e ocupar o espaço disponível */
}

.centralizado {
    text-align: center;
}

.centralizado {
    text-align: center;
}

.espaco-palavras {
    word-spacing: 30px; /* Ajuste o valor conforme necessário */
}

footer {
    text-align: center;
    padding: 10px;
    background: #35424a;
    color: #ff0a0a;
    position: relative;
    bottom: 0;
    width: 100%;
}

.texto-espacado {
    word-spacing: 50%; /* Ajuste o valor conforme necessário */
}

#redondaImagem {
    border-radius: 50%;
    width: 200px; /* Ajuste o tamanho conforme necessário */
    height: 200px; /* Deve ser igual à largura para ser redonda */
    object-fit: cover; /* Garante que a imagem preencha o espaço */
    border: 3px solid #333; /* Borda opcional */
    margin-right: 20px; /* Espaço entre a imagem e o texto */
}
h1 {
    color: #333;
    margin: 0; /* Remove margem do h1 */
}
p {
    color: #555;
    max-width: 600px;

}

